.heroWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-image: url("../../assets/images/top_pic.jpg");
  object-fit: cover;
  background-position: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.secondBlock {
  margin-top: 40px;
}
.secondBlockLink {
  display: block;
  color: #f4a305;
  margin-top: 30px;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.secondBlockLink:hover {
  color: #ee8c09;
  font-size: 18px;
}

.thirdBlock {
  margin-top: 40px;
}

.thirdBlock > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.thirdBlock > ul > li {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.thirdBlock > ul > li > p {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}

.heroTitle {
  font-size: 46px;
  color: #ffd800;
  font-weight: 700;
  text-shadow: 0px 0px 1px #662f00;
}

.heroSubtitle {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.heroText {
  font-size: 20px;
  color: white;
}

.heroButton {
  cursor: pointer;
  margin: 0px auto 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  width: 40%;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  height: 63px;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 11px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #feed46 0%, #e4730b 12%, #d15213 70%);
  transition: all 0.3s ease;
}

.heroButton:hover {
  background: linear-gradient(to bottom, #edecde 0%, #361c02 12%, #f35405 70%);
  box-shadow: #f35405 0px 0px 10px 0px;
}

@media (max-width: 768px) {
  .heroWrapper {
    /* height: 100vh; */
  }

  .secondBlock {
    margin-top: 20px;
  }

  .heroSubtitle {
    padding-bottom: 20px;
  }

  .thirdBlock {
    margin-top: 20px;
  }
  .thirdBlock > ul {
    display: flex;
    flex-wrap: wrap;
  }
  .heroButton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
  }
}
@media (max-width: 450px) {
  .heroButton {
    font-size: 15px;
    font-weight: 200;
  }
}
