.header {
  position: sticky;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #785233;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondBlock > h2 {
  margin-right: 20px;
}

.subTitle {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 15px;
}

.ancorPhone {
  font-size: 16px;
  color: #f4a305;
  cursor: pointer;
  transition: all 0.3s ease;
}

.international {
  display: flex;
  flex-direction: column;
}
.international > span {
  color: white;
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
