.header {
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #455158;
  margin-top: -10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thirdBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thirdBlock img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.thirdBlock a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}

.international {
  display: flex;
  flex-direction: column;
}

.international > span {
  color: white;
}

.inner {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: gray;
  font-size: 25px;
  font-weight: 500;
}

.link:hover {
  background-color: grey;
}

.schedule > img {
  width: 40px;
  height: 40px;
}
.schedule {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.schedule > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.schedule > div > p {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .secondBlock {
    display: none;
  }
  .inner {
    gap: 30px;
  }
}
@media (max-width: 450px) {
  .inner {
    padding: 40px 5px;
    height: auto;
    flex-direction: column;
    gap: 20px;
  }
}
