.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttonWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.cardButtonDetail {
  width: 100%;
  display: block;
  border: 1px solid #f4a305;
  font-size: 16px;
  background: #fff;
  color: #f4a305;
  padding: 7px;
  border-radius: 5px;
}

.cardButtonCost {
  width: 100%;
  padding-top: 12px;
  margin-top: 10px;
  padding-bottom: 11px;
  border-radius: 5px;
}
