.wrapper {
  padding: 100px 0 40px 0;
  background-image: url("delivery/blc7_bcg.jpg"), url("images/blc7_bcg.jpg");
  background-repeat: no-repeat;
  background-position: bottom, top;
  background-size: cover;
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.mainTitles {
  font-weight: 700;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.thirdBlockLink > div > p {
  color: #f1f2f8;
  font-size: larger;
  font-weight: 500;
}
.inner > ul {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.inner > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.inner > ul > li img {
  width: 100px;
  height: 100px;
}

@media (max-width: 450px) {
  .inner {
    padding: 0;
    margin: 0;
  }
  .inner > ul > li {
    width: 90%;
  }
}
